@charset "utf-8";

body {
	background-color: #272727;
	font-family: Verdana, sans-serif;
}
#header {
	background-color: #666666;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	position: relative;
	top: -20px;
	padding-top: 25px;
	padding-bottom: 35px;
}

h1 {
	text-align: center;
	color: #FFFFFF;
}

#autor {
	text-align: center;
	color: #FFFFFF;
}

#page {
	width: 1040px;
	margin: 0 auto;
}


#seznam table {
	width: 100%;
    border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#content #seznam table {
	border-collapse: collapse;
}


.titulky {
	text-align: left;
	font-weight: bold;
	background-color: #930B0A;
	height: 50px;
	color: #FFFFFF;
	text-shadow: 1px 1px #222222;
	font-size: 14px;
}

.titulky > td {
    text-align: center;
    padding-left: 20px;    
}

td:last-child {
    padding-right: 20px;
}

.film-radek {
	text-align: center;
	height: 170px;
	background-color: #FFFFFF;
	font-size: 12px;
}

.film-radek > td {
    text-align: center;
    padding-left: 20px; 
}

.td2 h3 a {
	font-size: 12px;
	color: #060606;
}

.td10 {
    width: 70px;    
}

table .film-radek {
	position: relative;
	left: 5px;
	min-width: 130px
}

#footer  {
	text-align: center;
	margin-top: 55px;
	margin-bottom: 55px;
	font-weight: bold;
	clear: both;
	color: #FFFFFF;
}
.back-button {
	clear: both;
	text-align: center;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #940A0A;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	display: block;
}
.back-button a {
	color: #FFFFFF;
}

#content-detail {
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-box-shadow: 1px 1px 10px #3A3A3A;
	box-shadow: 1px 1px 10px #3A3A3A;
}



/* Detail */

.plakat   {
	width: 16%;
	float: left;
}
.nazev {
	width: 79%;
	float: right;
	position: relative;
	text-align: center;
	top: 0px;
	background-color: #666666;
	color: #FFFFFF;
}
.umelci {
    position: relative;
    left: 55px;
	width: 180px;
	text-align: left;
	float: left;
}

.vydavatel {
    position: relative;
    left: 55px;
	width: 200px;
	text-align: left;
	float: left;
}

.vydano {
    position: relative;
    left: 55px;
	width: 140px;
	text-align: left;
	float: left;
}

.zeme {
    position: relative;
    left: 55px;
	width: 140px;
	text-align: left;
	float: left;
}

.typ {
    position: relative;
    left: 55px;
	width: 120px;
	text-align: left;
	float: left;
}

.format {
    position: relative;
    clear: both;
    left: 215px;
	width: 180px;
	text-align: left;
	float: left;
}

.zanry {
    position: relative;
    left: 215px;
	width: 200px;
	text-align: left;
	float: left;
}

.stav {
    position: relative;
    left: 215px;
	width: 140px;
	text-align: left;
	float: left;
}

.cena {
    position: relative;
    left: 215px;
	width: 140px;
	text-align: left;
	float: left;
}

.dostupnost {
    position: relative;
    left: 215px;
	width: 180px;
	text-align: left;
	float: left;
}

.obsah {
    clear: both;    
}

.part3 {
    float: none;
    clear: both;
}

#content-detail .image-box img {
	min-width: 145px;
	
}

