autor {
	width: 400px;
	height: 100px;
	clear: both;
	float: none;
	margin: 0 auto;
	display: block;
	border: #1E1D1D solid 1px;
	margin-bottom: 20px;
}
jmeno{
	font-size: 36px;
	text-align: center;
	margin: 15px 5px 10px 70px;
}
prijmeni{
	font-size: 36px;
	margin: 15px 5px 10px 10px;
}
vek {
	text-align: center;
	clear: both;
	display: block;
	font-size: 16px;
}
email {
	text-align: center;
	clear: both;
	display: block;
	font-size: 16px;
}
oblibene_filmy{
	display:block;
	width: 80%;
	margin: 0 auto;
	text-align: justify;
}
film{
	display: block;
}
nazev_cesky{
	font-size: 36px;
	color: #A20002;
	display: block;
	margin-bottom: 5px
}
nazev_anglicky{
	font-size: 18px;
	display: inline-block;
	width: 35%;
}
puvod{
	font-size: 18px;
	display: inline-block;
	width: 30%;
}
rok_natoceni{
	font-size: 18px;
	display: inline-block;
	width: 30%;
}

autor {
	width: 400px;
	height: 100px;
	clear: both;
	float: none;
	margin: 0 auto;
	display: block;
	border: #1E1D1D solid 1px;
	margin-bottom: 20px;
}
jmeno{
	font-size: 36px;
	text-align: center;
	margin: 15px 5px 10px 70px;
}
prijmeni{
	font-size: 36px;
	margin: 15px 5px 10px 10px;
}
vek {
	text-align: center;
	clear: both;
	display: block;
	font-size: 16px;
}
email {
	text-align: center;
	clear: both;
	display: block;
	font-size: 16px;
}
oblibene_filmy{
	display:block;
	width: 80%;
	margin: 0 auto;
	text-align: justify;
}
film{
	display: block;
}
nazev_cesky{
	font-size: 36px;
	color: #A20002;
	display: block;
	margin-bottom: 5px
}
nazev_anglicky{
	font-size: 18px;
	display: inline-block;
	width: 35%;
}
puvod{
	font-size: 18px;
	display: inline-block;
	width: 30%;
}
rok_natoceni{
	font-size: 18px;
	display: inline-block;
	width: 30%;
}

