@charset "utf-8";

body {
	background-color: #272727;
	font-family: Verdana, sans-serif;
}

#header {
	background-color: #666666;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	position: relative;
	top: -20px;
	padding-top: 25px;
	padding-bottom: 35px;
}

h1 {
	text-align: center;
	color: #FFFFFF;
}

#autor {
	text-align: center;
	color: #FFFFFF;
}

#page {
	width: 1040px;
	margin: 0 auto;
}

.katalog {
	width: 100%;
    border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-collapse: collapse;
}

.nadpisy {
	text-align: left;
	font-weight: bold;
	background-color: #930B0A;
	height: 50px;
	color: #FFFFFF;
	text-shadow: 1px 1px #222222;
	font-size: 15px;
}

.nadpisy > td {
    text-align: center;
    padding-left: 20px;    
}

td:last-child {
    padding-right: 20px;
}

.dilo {
	text-align: center;
	height: 170px;
	background-color: #FFFFFF;
	font-size: 13px;
}

.dilo > td {
    text-align: center;
    padding-left: 20px; 
}

.dilo > td:nth-child(9) {
    width: 70px;    
}

#footer  {
	text-align: center;
	margin: 55px 0;
	font-weight: bold;
	color: #FFFFFF;
}
.back-button {
	text-align: center;
	padding: 10px;
	background-color: #940A0A;
	width: 150px;
	margin: 35px auto 20px auto;
	display: block;
}

.back-button a {
	color: #FFFFFF;
}

.detail {
	background-color: #FFFFFF;
	padding: 15px;
}

.obrazek {
	float: left;
}

.nazev {
	width: 79%;
	float: right;
	position: relative;
	text-align: center;
	top: 0px;
	background-color: #666666;
	color: #FFFFFF;
}

.umelci {
    position: relative;
    left: 15px;
	width: 180px;
	text-align: left;
	float: left;
}

.vydavatel {
    position: relative;
    left: 15px;
	width: 200px;
	text-align: left;
	float: left;
}

.vydano {
    position: relative;
    left: 15px;
	width: 140px;
	text-align: left;
	float: left;
}

.zeme {
    position: relative;
    left: 15px;
	width: 140px;
	text-align: left;
	float: left;
}

.typ {
    position: relative;
    left: 15px;
	width: 120px;
	text-align: left;
	float: left;
}

.format {
    position: relative;
    clear: both;
    left: 215px;
	width: 180px;
	text-align: left;
	float: left;
}

.zanry {
    position: relative;
    left: 215px;
	width: 200px;
	text-align: left;
	float: left;
}

.stav {
    position: relative;
    left: 215px;
	width: 140px;
	text-align: left;
	float: left;
}

.cena {
    position: relative;
    left: 215px;
	width: 140px;
	text-align: left;
	float: left;
}

.dostupnost {
    position: relative;
    left: 215px;
	width: 180px;
	text-align: left;
	float: left;
}

.obsah {
    clear: both;
    padding-top: 20px;
    margin-left: 215px;
}

.nazev-skladby {
    padding-left: 10px; 
}

.delka-skladby {
    padding-left: 30px; 
}
